:root {
  --color1: rgb(39, 37, 32);
  --color2: rgb(219, 94, 44);
  --color3: rgb(136, 136, 136);
  --color4: rgb(14, 20, 26);
  --color5: rgb(117, 175, 230);
  --color6: rgb(44, 44, 143);
  --color7: rgb(147, 194, 255);
  --color8: rgb(156, 49, 35);
}

/*LOGANS A BEAST*/
body::-webkit-scrollbar{
  display: none;
}

a {
  color: var(--color8)
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  color: var(--color3);
  background-color: var(--color1);
  margin: auto;
  padding-bottom: 5rem;
}

header {
  background-color: var(--color8);
  display: flex;
  
  align-items: center;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-image: url("./assets/banner/IMG_0705.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 100%;
  z-index: 9999;
  text-shadow: 1px 1px 1px black;
}

header h1 {
  font-size: 50px;
  color: var(--color2);
}

header nav {
  font-size: 30px;
}

header nav ul li {
  color: var(--color4);
  display: inline;
  padding: 10px;
  position: relative;
  
}

header nav ul li a {
  color: var(--color7);  
}

header nav ul li a:hover {
  color: var(--color6);
  border-radius: 20%;
  transition: 0.5s;
}

a:hover {
  color: var(--color2);
}

.hero {
  color: var(--color1);
  background-color: var(--color8);
  overflow: hidden;
  background-image: url("./assets/banner/IMG_0705.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 100%;
}

.hero article {
  max-width: 30%;
  font-size: 15px;
  float: right;
  margin: 30px 30px;
}

.hero article p {
  margin: 2px auto;
  text-shadow: 2px 2px 2px var(--color3);
  text-align: right;
}

/*section {
  display: flex;
  justify-content: flex-start;
}*/

.title {
  color: var(--color2);
  padding: 0 1%;
  margin: 1%;
  width: 15%;
  border-right: 2px solid var(--color6);
}

.title h2 {
  margin: 0;
  font-size: 30px;
  text-align: right;
  align-self: center;
  text-decoration: underline;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.582);
}

.title p {
  font-size: 25px;
  text-align: right;
}

section {
  scroll-margin-top: 150px;
}

#about-me {
  display: flex;
}

#about-me img {
  width: 20rem;
  height: 20rem;
  margin: 2rem auto 0rem;
  border-radius: 100%;
}

#about-me article {
  margin: 1rem 4rem;
  width: 45%;
}

#about-me article ul, #about-me article ol {
  margin: 4rem;
}

#about-me p {
  font-size: 1.4rem;
}

.school {
  color: var(--color2);
}

.image-banner {
  color: var(--color4);
  position: relative; 
  background-image: url("./assets/banner/IMG_0705.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 100%;
  padding: 1rem;
  text-shadow: 2px 2px 5px var(--color3);
}

.image-banner h3 {
 text-decoration: underline;
 margin: 0 auto;
 font-size: 1.5rem;
}

.image-banner h4{
  margin: 0;
  font-size: 1.2rem;
}

.image-banner p {
  font-size: 1.1rem;
}

.work-jumbo {
  overflow: hidden;
  margin: 1% auto;
  border: 2px solid var(--color6);
  height: 55%;
  position: relative;
  border-radius: 10px;
}

.work-jumbo img {
  filter: brightness(50%);
  transition: 1.2s;
  max-height: 260%;
}

.work-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0rem 2rem;
}

.work {
  background-image: url("./assets/banner/IMG_0705.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 100%;
  overflow: hidden;
  position: relative;
  height: 30rem;
  width: 30rem;
  border: 2px solid var(--color6);
  border-radius: 10px;
  margin: 1%;
}

.work img {
  filter: brightness(50%);
  transition: 1.2s;
  overflow: hidden;
  position: sticky;
  left: -400%;
  /* max-height: 160%; edited until it looked nice */
}

.work-jumbo img:hover, .work img:hover {
  filter: brightness(100%);
  transition: .5s;
} 

#contact-me {
  font-size: 2rem;
  display: flex;
  position: relative;
}

#contact-me ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 70%;
  margin: 0 2.5%;
}

#contact-me ul a {
  display: inline;
  padding: 10px 0;
  margin: auto;
  border: 2px solid var(--color2);
  border-radius: 15px;
  text-align: center;
  list-style: none;
  text-decoration: none;
  text-shadow: 2px 2px 2px var(--color3);
}

#contact-me ul a:hover {
  color: var(--color1);
  background-color: var(--color2);
  border-radius: 15px;
}

#contact-me form {
  text-align: left;
  text-shadow: 1px 1px 1px var(--color3);
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#contact-me form label, .form-input {
  font-size: 2rem;
}

.form-row {
  display: flex;
  margin: 1rem;
}

.form-title {
  color: var(--color2);
}

#contact-me form button {
  font-size: 1.8rem;
}

.form-row {
  flex-wrap: wrap;
  width: 100%;
}

.form-input {
  width: 100%;
  height: 70%;
}

.error-text {
  color: var(--color2);
  margin: 1rem;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2rem; 
  font-size: 15px;
  text-align: center;
  
  background-image: url("./assets/banner/IMG_0705.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 100%;
  text-shadow: 1px 1px 3px black;
}

footer h4 {
  margin: 0.3rem;
  color: var(--color5);
}

footer h4 a {
  color: var(--color7);
}

@media screen and (max-width: 1650px) {
  .title {
    margin: 0;
  }

  .title h2{
    font-size: 2rem;
  }

  .hero {
    display:none;
  }

  #contact-me ul a{
    flex: 1 40%;
    margin: 5px 5px;
  }

  .image-banner h3 {
    font-size: 1.6rem;
  }

  .image-banner h4, .image-banner p {
    font-size:1.2rem;
  }
}

@media screen and (max-width: 1200px) {
  .hero article {
    max-width: 70%;
  }

  header {
    justify-content: center;
  }

  header h1 {
    text-align: center;
    width: 100%;
    margin: 0;
  }

  header nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
  } 
  
  .hero article {
    font-size: 19px;
    margin: auto;
    float: none;
    margin: 40px auto;
  }

 .hero article p {
    text-align: center;
  }

  .title {
    border-right: 0px;
    width: 100%;
    border-bottom: 2px solid var(--color6);
  }

  .title h2 {
    text-decoration: none;
    text-align: center;
  }

  .title p {
    font-size: 20px;
    text-align: center;
  }

  section {
    scroll-margin-top: 200px;
  }

  #about-me, #my-work, #contact-me {
    flex-wrap: wrap;
    height: auto;
  }

  #about-me article ul, #about-me article ol {
    margin: 2rem auto;
    font-size: 1rem;
  }

  #about-me article {
    width: 100%;
  }

  #contact-me {
    justify-content: space-around;
  }

  #about-me img {
    width: 20rem;
    height: 20rem;
  }

  .work-container {
    width: 100%;
  }

  .image-banner {
    font-size: 17px;
  }

  footer {
    display: none;
  }

}

@media screen and (max-width: 768px) {
  /*header nav {
    font-size: 20px;
  }*/

  body {
    
    font-size: 1.0rem;
    line-height: 1.2;

  }

  p {
    font-size: 1rem;
  }

  section {
    scroll-margin-top: 150px;
  }

  #about-me, #my-work, #contact-me {
    flex-wrap: wrap;
    height: auto;
  }

  #about-me article {
    width: 50%;
  }
  
  .work-jumbo{
    height: 600px;
  }

  .work {
    height: 600px;
    width: 80%;
  }

  #contact-me ul {
    width: 90%;
    margin: auto;
    padding: 10px 0;
  }

  #contact-me form {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    margin: 10px auto;
    border: 2px solid var(--color2);
    border-radius: 15px;
    text-align: left;
    text-shadow: 1px 1px 1px var(--color3);
    width: 90%;
  }
  
  .error-text {
    color: var(--color2);
  }

  footer {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  #about-me article {
    width: 90%;
  }

  header h1 {
    line-height: 1;
  }

  header nav {
    font-size: 22px;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
  }

  section {
    scroll-margin-top: 150px;
  }

  .image-banner {
    font-size: 13px;
  }

  #contact-me ul a {
    font-size: 15px;
  }

  .form-title {
    font-size: 12px;
  }
}